[submodule "skills/create-pr-cd"]
	path = skills/create-pr-cd
	url = https://github.com/Gumb-D/create-pr-cd.git
[submodule "agent-guideline/vscode-agent"]
	path = agent-guideline/vscode-agent
	url = https://github.com/3-Piggy/vscode-agent.git
[submodule "skills/create-pr-cd-ran"]
	path = skills/create-pr-cd-ran
	url = https://github.com/ammarofficial11/create-pr-cd-ran.git
[submodule "skills/tx-pr-auditor"]
	path = skills/tx-pr-auditor
	url = https://github.com/BL2ZteSolution/tx-pr-auditor.git
